OBSIDIAN_PATH="옵시디언있는폴더명을 쓰고 따옴표는없어도 된다"
CONTENT_PATH="쿼츠 작동 폴더 content 폴더명을 쓰고 따옴표는없어도 된다, ./content "
PUBLISH_FOLDERS=msshin/60-AI/기술도서작성,msshin/10-Projects/AI이슈,msshin/10-Projects/AIreport

IMAGE_EXT=.png,.jpg,.jpeg,.gif,.webp,.svg
DOC_EXT=.pdf,.ppt,.pptx,.doc,.docx,.xls,.xlsx

IMAGE_DIR=assets/image
DOC_DIR=assets/docs